<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>New Doc - </h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ request.path }}" method = "post" enctype="multipart/form-data">
         <label for = "name">Doc Name</label><br>
         <input type = "text" name = "name" placeholder = "Wellsfargo" /><br>
         <input type=file name=file>
         <input type = "submit" value = "Submit" />
      </form>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>UUID</th>
               <th>Text Status</th>
               <th>Matched Keys</th>
               <th>Delete<th>
            </tr>
         </thead>
         
         <tbody>
            {% for doc in docs %}
               <tr>
                  <td>
                     <a href="{{request.url_root}}{{doc.file_location}}" style="height:32px;"/>{{ doc.name }}</a>
                  </td>
                  <td>{{doc.uuid}}</td>
                  {% if doc.text %}
                  <td> Extracted </td>
                  {% else %}
                  <td> Waiting </td>
                  {%endif %}
                  {% if doc.keys|length > 0 %}
                  <td> {{doc.keys[0].name}} </td>
                  {% else %}
                  <td> Waiting </td>
                  {%endif %}
                <td>
                  <form method="POST" action = "{{ request.path }}/{{ doc.id }}">
                     <input type = "hidden" name='delete' value='delete' />
                     <input type = "submit" value = "Delete" /> 
                  </form>
               </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>