{% extends "index.html" %}
{% block content %}
      
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      <hr>
      <div class="container">
         <h3>Upload New Doc </h3>
         <form class="form-inline" action = "{{ request.path }}" method = "post" enctype="multipart/form-data">
            <div class="form-group row">
               <label for = "name" class="col-sm-2 form-control-label">Name</label>
               <div class="col-sm-10">
                  <input class="form-control" type = "text" name = "name" placeholder = "Wellsfargo" />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 form-control-label" for = "name">File</label>
               <div class="col-sm-10">
                  <input class="form-control" type=file name=file>
               </div>
            </div>
            <div class="form-group row">
             <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-secondary">Upload</button>
             </div>
           </div>
         </form>
      </div>
      <hr>
      <div class="container">
      <table class="table table-inverse">
         <thead>
            <tr>
               <th>Name</th>
               <th>UUID</th>
               <th>Text Status</th>
               <th>Matched Keys</th>
               <th>Delete<th>
            </tr>
         </thead>
         
         <tbody>
            {% for doc in docs %}
               <tr>
                  <td>
                     <a href="{{request.url_root}}{{doc.file_location}}" target="_blank"/>{{ doc.name }}</a>
                  </td>
                  <td>{{doc.uuid}}</td>
                  {% if doc.text %}
                  <td> <a href="{{request.url_root}}doc/{{doc.id}}/text" >Extracted<a></td>
                  {% else %}
                  <td> Waiting </td>
                  {%endif %}
                  {% if doc.keys|length > 0 %}
                  <td> 
                     {% for key in doc.keys %}
                        {{key.name}} 
                     {% endfor %}
                  </td>
                  {% else %}
                  <td> Waiting </td>
                  {%endif %}
                <td>
                  <form method="POST" action = "{{ request.path }}/{{ doc.id }}">
                     <input type = "hidden" name='delete' value='delete' />
                     <button type="submit" class="btn btn-secondary">Delete</button>
                  </form>
               </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock %}