{% extends "index.html" %}
{% block content %}
<div class="container">
<h1> Flask App - Document Tagger Project </h1>

<p>
This is a toy web app to prototype the use of 'keys' to auto tag documents as they are uploaded to a website. A key a combination of branded images and keywords to search for in a document. If the branding image or key words is found, the document is tagged with the key. When a new key is uploaded, all documents are scanned for the new branding image and keywords.
</p>

<p>
PDF conversion to images is done using imagemagick and Wand, branded-image matching is done using Flann Matching with OpenCV, and text extraction is done using Tesseract.
</p>

<h4>Dependencies</h4>
<p>
This program runs successfully on Ubuntu 14.04 with
</p>
<ul>
	<li>Python 2.7</li>
	<li>OpenCV (built from source)</li>
	<li>Wand (pip)</li>
	<li>Tesseract (apt-get)</li>
	<li>ImageMagik (apt-get)</li>
	<li>flask (pip)</li>
	<li>flask_sqlalchemy (pip)</li>
	<li>werkzeug (pip)</li>
	<li>numpy (apt-get)</li>
</ul>
</div>
{% endblock %}