{% extends "index.html" %}
{% block content %}
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-info">
            {{ message }}
         </div>
      {%- endfor %}
      <hr>
      <div class="container">
          <h3>Create New Key </h3>
      <form class="form-inline"  action = "{{ request.path }}" method = "post" enctype="multipart/form-data">
         <div class="form-group row">
               <label for = "name" class="col-sm-2 form-control-label">Key Name</label>
               <div class="col-sm-10">
                  <input class="form-control" type = "text" name = "name" placeholder = "Tiaa-Cref" />
               </div>
            </div>
             <div class="form-group row">
               <label for = "name" class="col-sm-2 form-control-label">Terms</label>
               <div class="col-sm-10">
                  <input class="form-control" type = "text" name = "text" placeholder = "tiaa, cref, tiaa-cref, ..." />
               </div>
            </div>
            <div class="form-group row">
               <label class="col-sm-2 form-control-label" for = "name">File</label>
               <div class="col-sm-10">
                  <input class="form-control" type=file name=file>
               </div>
            </div>
            <div class="form-group row">
             <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-secondary">Upload</button>
             </div>
           </div>
      </form>
      </div>
      <hr>
      <div class="container">
      <table class="table table-inverse">
         <thead>
            <tr>
               <th>Name</th>
               <th>Terms</th>
               <th>File Locations</th>
               <th>Delete<th>
            </tr>
         </thead>
         
         <tbody>
            {% for key in keys %}
               <tr>
                  <td>{{ key.name }}</td>
                  <td>{{ key.terms }}

                  </td>
                  <td>
                   {% for img in key.imgs %}
                     <img src="{{request.url_root}}{{img}}" style="height:32px;"/>
                   {% endfor %}
                </td>
                <td>
                  <form method="POST" action = "{{ request.path }}/{{ key.id }}">
                     <input type = "hidden" name='delete' value='delete' />
                     <input type = "submit" value = "Delete" /> 
                  </form>
               </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock %}